<div class="text-center">

<h2>You've added a new Restaurant</h2>
<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @restaurant.phone_number %>
</p>


<h3>Reviews:</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li> <%= review.content %> </li>
    <li> <%= review.rating %> </li>
  <% end %>
</ul>
</div>
